<div class="row justify-content-around">
    <div class="col-6">
        <h4>Bienvenida/o {{nombre}}</h4>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <form action="/log/out" method="post">
            <button class="text-center btn btn-danger" type="submit">Cerrar sesión</button>
        </form>
    </div>
</div>