.container-us {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 9% 10%;
}

.row-us {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.col-us {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.h2-us {
    text-align: start;
    margin-bottom: 0.4%;
}

.recuadro-us {
    background-color: rgb(235, 194, 198);
    width: 10%;
    height: 1vh;
    margin-bottom: 6%;
}

.img-us {
    width: 100%;
}

.texto-us {
    text-align: start;
    font-weight: 300;
}