.container-notFound {
    display: flex;
    flex-wrap: inherit;
    margin: 10% 10% 5% 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row-notFound {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    justify-content: center;
    margin-bottom: 2%;
}

#btn-notFound {
    margin-top: 2%;
    border: 1px solid rgb(235, 194, 198);
    color: white;
    width: 100%;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.5);
}

div {
    color: rgba(0, 0, 0, 0.54);
}

.title-notFound {
    font-size: 6em;
}

.subtitle-notFound {
    font-size: 1em;
}